{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<header class="header-homePage">
  <nav class="header">
    <div class="left-header">
      <img src="" alt="LOGO PICTURE">
      <p>NAME of the APPLI</p>
    </div>
    <div class="right-header">
      <button> <a href="./signup">Create my account</a></button>
      <button> <a href="./signIn">Log In</a></button>
      <button> <a href="#">Book Your Tour Now ! </a></button>
    </div>
  </nav>
</header>
<section class="discover-europe">
  <h2>DISCOVER EUROPE</h2>

</section>

<section class="book-tour">
  <form action="" method="">
    <label>
      When ?
    </label>
    <input type="date" />

    <label>
      Duration ?:
    </label>
    <input type="text" />

    <label>
      How many People?
    </label>
    <input type="number" />
  </form>
</section>