<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header class="header-homePage">
    <nav class="header">
      <div class="left-header">
        <img src="" alt="LOGO PICTURE">
        <p>NAME of the APPLI</p>
      </div>
      <div class="right-header">
        <a href="./signup" class="a-home">Create my account</a>
        <a href="./login" class="a-home">My account</a>
        <a href="#book" class="a-home">Book Your Tour Now ! </a>
        <a href="/" class="a-home">Go back Home</a>
      </div>
    </nav>
  </header>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>