<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header class="header-homePage">
    <nav class="header">
      <div class="left-header">
        <img src="" alt="LOGO PICTURE">
        <p>NAME of the APPLI</p>
      </div>
      <div class="right-header">
        <button> <a href="./signup">Create my account</a></button>
        <button> <a href="./login">My account</a></button>
        <button> <a href="#book">Book Your Tour Now ! </a></button>
        <button><a href="/">Go back Home</a></button>
      </div>
    </nav>
  </header>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>