body {
  padding: 50px;
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
}

li {
  list-style-type: none;
}
.bold {
  font-weight: bold;
}

.discover-europe {
  height: 500px;
  // background-color: royalblue;
}

.book-tour {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
label,
input {
  margin-left: 10px;
  font-size: 15px;
  border-radius: 3px;
}

.Error-message {
  border: 3px solid;
  border-radius: 3px;
  color: tomato;
  padding: 10px;
}
.success-message {
  border: 3px solid;
  border-radius: 3px;
  color: chartreuse;
  padding: 10px;
}

.list-result-container {
  display: flex;
}

.flags {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.list-result-content {
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px auto;
  h4 {
    font-size: 20px;
    font-family: "PoetsenOne-Regular.ttf";
  }
  p {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin: 10px 0;
  }
}

.discover-europe {
  background-image: url("../images/annie-spratt-217517-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login,
.signup {
  text-align: center;
  font-size: 24px;
}

.sign-container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  margin-top: 1%;
  padding: 2%;
  border-radius: 2px;
}

.form-content input {
  height: 30px;
  width: 500px;
}
.form-login {
  background-color: rgba(128, 128, 128, 0.2);
  padding-left: 1%;
}
#login-container {
  width: 50%;
  margin-top: 2%;
}

.btn-form {
  border-radius: 5px;
  padding: 5px;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 271px;
  align-items: center;
}
.login-form {
  width: 50%;
}

.btn-login {
  width: 80px;
  border-radius: 4px;
}
#btn-login {
  display: flex;
  justify-content: center;
}
.byt-input {
  color: red;
  border: 2px solid rgba(173, 171, 171, 0.5);
  height: 65%;
  padding: 3px;
}

.byt-form {
  color: black;
}

.byt-btn {
  margin-top: 1.5%;
  width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 1.3125rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-top: 3%;
}
.byt-container {
  display: flex;
}
.byt-content {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.fa-hand-o-right {
  margin-left: 3%;
}
.nav-container {
  background-color: rgb(245, 245, 105);
  height: 60px;
}
.nav-link {
  color: black;
}

.a-red {
  color: red;
}

.input-regi {
  width: 400px;
}
.nav-logo {
  width: 130px;
  height: auto;
}

.myMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: rgb(252, 252, 252);
  li,
  b {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: Helvetica;
  }
}

.myForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myByt {
  margin: 0 10px;
  font-size: 20px;
  font-family: "PoetsenOne-Regular.ttf";
  font-weight: 100;
  input {
    border: 2px solid white;
  }
}

.myBtn {
  font-size: 20px;
  font-family: "PoetsenOne-Regular.ttf";
}

.mainBlock {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 40px;
    font-family: "PoetsenOne-Regular.ttf";
  }
}

.startCity {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: "PoetsenOne-Regular.ttf";
  src: url(/fonts/PoetsenOne-Regular.ttf) format("truetype");
}
.h2-result {
  font-family: "PoetsenOne-Regular.ttf";
  margin-bottom: 20px;
}

.startCity {
  height: 85vh;
}

.onetour {
  padding-inline-start: 0;
}

.myIcon {
  height: 130px;
  width: 130px;
}

.myRow {
  flex-direction: column;
  align-items: center;
}
