body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.header-homePage {
  height: 70px;
  background-color: red;
}
.header {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
}

.discover-europe {
  height: 500px;
  background-color: royalblue;
}

.book-tour {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
label,
input {
  margin-right: 5px;
}

.Error-message {
  border: 3px solid;
  border-radius: 3px;
  color: tomato;
  padding: 10px;
}
.success-message {
  border: 3px solid;
  border-radius: 3px;
  color: chartreuse;
  padding: 10px;
}

.flags {
  height: 2%;
  width: 4%;
}
