body {
  padding: 50px 17px 50px 50px;
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif; }

li {
  list-style-type: none; }

.bold {
  font-weight: bold; }

.book-tour {
  display: flex;
  justify-content: center;
  margin-top: 2%; }

label,
input {
  margin-left: 10px;
  font-size: 15px;
  border-radius: 3px; }

.Error-message {
  border: 3px solid;
  border-radius: 3px;
  color: tomato;
  padding: 10px; }

.success-message {
  border: 3px solid;
  border-radius: 3px;
  color: chartreuse;
  padding: 10px; }

.list-result-container {
  display: flex; }

.flags {
  width: 6.25rem;
  height: 3.75rem;
  object-fit: cover; }
  @media (max-width: 991.98px) {
    .flags {
      width: 4.25rem;
      height: auto; } }

.list-row {
  justify-content: center; }

.list-result-content {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px auto; }
  .list-result-content h4 {
    font-size: 20px;
    font-family: "PoetsenOne-Regular.ttf"; }
  .list-result-content p {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin: 10px 0; }

.discover-europe {
  background-image: url("../images/annie-spratt-217517-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.login,
.signup {
  text-align: center;
  font-size: 24px;
  font-family: "PoetsenOne-Regular.ttf";
  margin: 30px auto; }

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  margin-top: 1%;
  padding: 2%;
  border-radius: 2px; }

.form-content input {
  height: 30px;
  width: 500px; }

.form-login {
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  border-radius: 50px; }

#login-container {
  width: 50%; }

.btn-form {
  border-radius: 5px;
  padding: 5px; }

.login-container {
  display: flex;
  justify-content: center;
  height: 271px;
  align-items: center; }

.login-form {
  width: 50%; }

.btn-login {
  border-radius: 4px;
  width: 200px;
  border-radius: 50px; }
  .btn-login a {
    color: #000; }

.byt-input {
  color: red;
  border: 2px solid rgba(173, 171, 171, 0.5);
  height: 65%;
  padding: 3px; }

.byt-form {
  color: black; }

.byt-btn {
  margin-top: 1.5%;
  width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 1.3125rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-top: 3%; }
  @media (max-width: 756px) {
    .byt-btn {
      width: 10.9rem;
      margin-top: 4%;
      display: flex;
      align-items: center; } }

.byt-container {
  display: flex; }
  @media (max-width: 756px) {
    .byt-container {
      display: flex;
      flex-direction: column; }
      .byt-container input {
        width: 210px;
        margin-top: 10px;
        margin-bottom: 20px; } }

.byt-content {
  display: flex;
  flex-direction: column;
  width: 33%; }
  @media (max-width: 756px) {
    .byt-content {
      width: 100%;
      align-items: center; } }

.fa-hand-o-right {
  margin-left: 3%; }

.nav-container {
  height: 60px; }
  @media (max-width: 1064px) {
    .nav-container {
      height: auto; } }

.nav-link {
  color: black; }

.a-red {
  color: red; }

.input-regi {
  width: 400px; }

.nav-logo {
  width: 8.125rem;
  height: auto; }

.myMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fcfcfc; }
  .myMenu li,
  .myMenu b {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: Helvetica; }
  @media (max-width: 575.98px) {
    .myMenu {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

@media (max-width: 575.98px) {
  .myMenu-ul {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.myForm {
  display: flex;
  align-items: center;
  flex-direction: column; }

.myByt {
  margin: 0 10px;
  font-size: 20px;
  font-family: "PoetsenOne-Regular.ttf";
  font-weight: 100; }
  .myByt input {
    border: 2px solid white; }

.myBtn {
  font-size: 1.3rem;
  font-family: "PoetsenOne-Regular.ttf"; }

.mainBlock {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .mainBlock h2 {
    font-size: 40px;
    font-family: "PoetsenOne-Regular.ttf"; }

.startCity {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 85vh; }
  @media (max-width: 575.98px) {
    .startCity {
      height: 156vh; } }

@font-face {
  font-family: "PoetsenOne-Regular.ttf";
  src: url(/fonts/PoetsenOne-Regular.ttf) format("truetype"); }

.h2-result {
  font-family: "PoetsenOne-Regular.ttf";
  margin-bottom: 20px; }

.onetour {
  padding-inline-start: 0; }
  .onetour li {
    font-family: "PoetsenOne-Regular.ttf"; }

.myIcon {
  height: 130px;
  width: 130px; }

.myRow {
  flex-direction: column;
  align-items: center; }

.MyBtn-option {
  font-size: 20px;
  font-family: "PoetsenOne-Regular.ttf"; }

.mySign-container {
  font-family: "PoetsenOne-Regular.ttf";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center; }

.mySign-form {
  display: flex;
  align-items: center;
  flex-direction: column; }

label {
  display: flex; }

.mysign-content {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .mysign-content label {
    font-weight: 700;
    display: flex;
    flex-direction: column; }

.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh; }

.flash {
  margin: 30px 0; }

.btnSignup {
  margin-top: 30px; }

.loginInput {
  max-width: 90%;
  flex: 100%; }

.itinerary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10%; }

.btn-margin {
  margin: 30px 0; }

.price {
  margin-top: 15px;
  font-size: 18px;
  font-family: "PoetsenOne-Regular.ttf"; }

.itImage {
  height: 400px; }

.oneLine {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.marg-top {
  margin: 0; }

.line {
  margin: 15px 0;
  font-size: 23px;
  font-family: "PoetsenOne-Regular.ttf"; }

.top-m {
  margin-top: 30px;
  margin-bottom: 0 !important; }

.marg10 {
  margin: 10px 0; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 500px; }

#adress-form {
  flex-direction: column;
  align-items: center; }
  #adress-form label {
    font-family: "PoetsenOne-Regular.ttf";
    font-size: 22px; }
  #adress-form input {
    margin-left: 20px;
    width: 300px; }

.regi-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .regi-container label {
    font-family: "PoetsenOne-Regular.ttf";
    font-size: 22px; }

#regi-add-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #regi-add-container label {
    font-family: "PoetsenOne-Regular.ttf";
    font-size: 22px; }
  #regi-add-container input {
    margin-left: 20px;
    width: 300px; }

.cbImage {
  margin-top: 30px;
  height: 205px;
  width: auto; }
  .cbImage img {
    margin: 0 auto; }

.visit {
  font: bold 20%; }

.final {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .final h1 {
    margin: 45px 0;
    font-family: "PoetsenOne-Regular.ttf"; }
  .final img {
    margin: 10px 0; }
  .final p {
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */