<h2 class="login">Log In </h2>

{{>flash_messages}}
<div class="login-container">
  <form action="/process-login" method="POST" class="form-content login-form bold">

    <label>
      Email:
      <input type="email" name="email" required />
    </label>

    <label>
      Password:
      <input type="password" name="originalPassword" required />
    </label>

    <button class="btn-form btn-login">LOG IN</button>
  </form>
</div>