<h2 class="signup">Sign Up</h2>

{{>flash_messages}}

<h3>Creating Your HOPONHOPOFF ACCOUNT</h3>

<hr>

{{!-- flash_messages --}}
<div class="sign-container">
  <form action="/process-signup" method="POST" class="form-content">
    <label>
      Last Name
      <input type="text" name="lastName" placeholder="" minlength="2" required>
    </label>


    <label>
      First Name
      <input type="text" name="firstName" minlength="2" required>
    </label>


    <label>
      E-mail address
      <input type="email" name="email" placeholder="blahblah@exemple.com" required>

    </label>

    <label>
      Password
      <input type="password" name="originalPassword" required>
    </label>



    <hr>

    <button>CREATE MY ACCOUNT</button>
  </form>
</div>