<h3>Create HoHo Account</h3>

{{>flash_messages}}

<hr>


<div class="sign-container">
  <form action="/process-signup" method="POST" class="form-content">
    <label>
      Last Name
      <input type="text" name="lastName" placeholder="" minlength="2" required>
    </label>


    <label>
      First Name
      <input type="text" name="firstName" minlength="2" required>
    </label>


    <label>
      E-mail address
      <input type="email" name="email" placeholder="blahblah@exemple.com" required>

    </label>

    <label>
      Password
      <input type="password" name="originalPassword" required>
    </label>

    <button class="btn-form bold">CREATE MY ACCOUNT</button>
</div>
<hr>


</form>