<div class="final">
  <h1>Welcome Aboard</h1>


  <p>We can't wait to have you on our tour</p>

  <p>Check your email for tour confirmation</p>

  <img src="https://media.giphy.com/media/auuVAwGhKrVrG/giphy.gif">

</div>