F<section class="itinerary">

  <h2 class="h2-result btn-margin">Final Confirmation</h2>

  <div class="container">
    <div class="form-group row" id="adress-form">
      <label for="adress" class="col-sm-2 col-form-label" value="{{adress}}">Address</label>

      <div class="col-sm-12" id="regi-add-container">
        <input type="text" name="streetName" class="form-control input-regi" placeholder="Street Name" required />
        <input type="text" name="streetNumber" class="form-control input-regi" placeholder="Number" required />
        <input type="text" name="zipCode" class="form-control input-regi" placeholder="ZipCode" required />
        <input type="text" name="phoneNumber" class="form-control input-regi" placeholder="Phone Number" required>
      </div>
    </div>


    <div class="container regi-container">
      <form action="/process-registration" method="POST" class="form-registration">
        <label for="payment" class="col-sm-2 col-form-label" value="{{payment}}">Payment</label>

        <div class="form-group row registration-content">
          <div class="col-sm-12" style="
      width: 570px">
            <input type="text" name="creditCardName" class="form-control input-regi" placeholder="Credit Card Owner"
              required />
            <input type="number" name="creditCardNumber" class="form-control input-regi" placeholder="Card Number"
              required />
            <input type="number" name="expiryDate" class="form-control input-regi" placeholder="Expiry Date" required />
            <input type="number" name="cvv" class="form-control input-regi" placeholder="CVV Code" required />
          </div>
          <div class="cbImage">
            <img src="/images/creditcard.png" />
          </div>
        </div>
    </div>

    <div id="btn-login">
      <button type="submit" class="btn-login btn-form bold"> Confirmation</button>
    </div>


  </div>
  </form>
  </div>
</section>