<h2>Choose your Itinerary</h2>


<form action="/process-summary" method="POST">
  <ul class="list-container">
    {{#each lineArray}}
    <li class="list-content">

      {{this.name}}

      <ul class="onetour">
        {{#each this.cities}}

        <li>
          <input type="checkbox" name="itineraries" value="{{this._id}}">{{this.itinerary}}<br>

        </li>
        {{/each}}

      </ul>

    </li>
    {{/each}}
  </ul>
  <button>Submit</button>
</form>