<h2>Choose your Itinerary</h2>


<ul class="list-container">
  {{#each lineArray}}
  <li class="list-content">

    {{this.name}}

    <ul class="onetour">
      {{#each this.cities}}

      <li>
        <form action="/process-resa" method="POST"></form>
        <input type="checkbox" name="itineraries" value="City">{{this.itinerary}}<br>

      </li>
      {{/each}}

    </ul>

  </li>
</ul>

{{/each}}
</ul>
<input type="submit" value="Submit">
</form>