<div class="startCity">


  <img src="/images/map.svg" alt="image" class="myIcon" />
  <h2 class="h2-result">Choose your Itinerary</h2>

  <form action="/process-summary" method="POST">
    <div class="list-container container">

      {{#each lineArray}}
      <div class="list-content row myRow">

        <h4 class="h2-result">{{this.name}}</h4>

        <ul class="onetour">
          {{#each this.cities}}

          <li>
            <input type="checkbox" name="itineraries" value="{{this._id}}">{{this.itinerary}}<br>

          </li>
          {{/each}}

        </ul>

      </div>
      {{/each}}
    </div>
    <button>Submit</button>
  </form>

</div>